body{
    background: rgba(95, 140, 238, 0.877);
    font: normal 16pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
 
}
div{
    text-align: center;
    padding: 8px;
}
#foto{
    width: 300px;
    height: 300px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; 
}
#fotos img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
input{
    border-radius: 35px;
     box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.11);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    
}