body{
    background: rgba(95, 140, 238, 0.877);
    font: normal 16pt Arial;
}
header{
    color: white;
    text-align: center;

}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
    
}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}